body,
h1,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: #EA9074;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient( #ffbcac,#F8E3AB);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* body.-opened {
    height: 900px;
} */

@font-face {
    font-family: 'SuperMario';
    src: url(../fonts/SuperMarioBros2.ttf);
    font-style: normal;
    font-weight: 100;
}

.box {
    width: 28rem;
    height: 535px;
    padding-top: 20px;
    margin: auto;
    border-radius: 15px;
    background-color: #fdf4e6;
    max-width: 450px;
    transition: 0.4s;
}

.box.-opened {
    height: 630px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;  
}

.logo img {
    width: 115px;   
    margin-bottom: 15px;
}

.view {
    width: 21rem;
    box-sizing: border-box;
    height: 87px;
    background-color: #30404f;
    border-radius: 15px;
    margin: auto;
    border: solid 5px #1f2933;
}

.container-view {
    width: 19rem;
    text-align: center;
    padding-left: 12px;
    display: flex;
    align-items: center;
}

.view p {
    max-width: 300px;
    width: 85%;
    color: #EDF2F5;
    padding-top: 10px;
    font-family: SuperMario;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 0.5rem;
}

.resume {
    width: 100%;
    margin-top: 12px;
}

.resume p {
    width: 85%;
    font-size: 0.9rem;
    margin: 0 auto;
    text-align: justify;
}

.container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container ul {
    width: 77%;
}

.container ul li a {
    display: inline-block;
    padding: 5px;
    width: 100%;
    border: 1px solid #EA9074;
    border-radius: 15px;
    text-decoration: none;
    color: #EA9074;
    margin-bottom: 15px;
    transition: 0.3s;
}

.container ul li a:hover {
    color: #ffbcac;
    border: 1px solid #ffbcac;
}

.icon {
    font-size: 1rem;
    padding: 0 10px 0 10px;
}

.small {
    font-size: 0.83rem;
}

.socialmidia ul {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;

}

.social {
    font-size: 1rem;
    color: #EA9074;
    padding: 0 5px;
    transition: 0.3s;
}

.social:hover {
    color: #ffbcac;
}

footer p {
    text-align: center;
    font-size: .7rem;
    color: #a1aaad;

}

/* css accordion - sobre mim */

.sobre-mim {
    display: none;
    overflow: hidden;
    padding: 0 10px 10px 10px;
    transition: 0.4s;
    text-align: justify;
    font-size: 0.8rem;
}

.sobre-mim.-opened {
    display: block;
}