body, h1, ul, li, p {
    margin:0px;
    padding: 0px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    color: #28435E;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#A0D2E3, #28435E);
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

@font-face {
    font-family: 'SuperMario';
    src: url(../fonts/SuperMarioBros2.ttf);
    font-style: normal;
    font-weight: 100;
}

.box {
    width: 22rem;
    height: 520px;
    padding-top: 20px;
    margin: auto;
    border-radius: 15px;
    background-color: #EDF2F5;
    max-width: 450px; 
    transition: 0.4s;
}

.view {
    width: 20rem;
    box-sizing: border-box;
    height: 100px;
    background-color: #2b3b49;
    border-radius: 15px;
    margin: auto;
    border: solid 5px #28435E;
}

.container-view {
    width: 18.5rem;
    text-align: center;
    padding-left:10px;
    display: flex;
    align-items: center;
}

.view p {
    max-width: 300px;
    width: 85%;
    color: #EDF2F5;
    padding: 10px 0 0 10px;
    font-family: SuperMario;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 0.5rem;
}

.resume {
    width: 100%;
}

.name {
    font-family: 'Cookie', cursive;
    font-size: 2.8rem;
    font-weight: normal;
    text-align: center;
    margin-top: 15px;
}

.resume p {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
}

.container {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container ul {
    width: 65%;
}

.container ul li a {
    display:inline-block;
    padding: 5px;
    width: 100%;
    border: 1px solid #28435E;
    border-radius: 15px;
    text-decoration: none;
    color: #28435E;
    margin-bottom: 15px;
    transition: 0.3s;
}

.container ul li a:hover {
    color: #7cb8cc;
    border: 1px solid #7cb8cc;
}

.icon {
    font-size: 1rem;
    padding: 0 10px 0 10px;
}

.small {
    font-size: 0.83rem;
}

.socialmidia ul {
    display: flex;
    justify-content: center;
    margin: 15px 0 15px 0;
    
}

.social {
    font-size: 1rem;
    color: #28435E; 
    padding: 0 5px;
    transition: 0.3s;
}

.social:hover {
    color: #7cb8cc;
}

footer p {
    text-align: center;
    font-size: .7rem;
    color: #a1aaad;
    
}

/* css accordion - sobre mim */

.sobre-mim {
    display: none;
    overflow: hidden;
    padding: 0 10px 10px 10px;
    transition: 0.4s;
}



